build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/zvrJhNmZL0HwHXviZTL7U663R8k=
.dart_tool/package_config.json
.flutter-plugins
.flutter-plugins-dependencies
.flutter-plugins-dependencies
.flutter-plugins-dependencies
.dart_tool/package_config.json
